@import 'reset';

:root {
  --devine-black: #231f20;
  --devine-blue: aqua;
  --devine-yellow: #fbed21;
  --devine-pink: #de65a5;
  --devine-pink-lighter: color(var(--devine-pink) tint(30%));
  --devine-pink-links: color(var(--devine-pink-lighter) tint(40%));
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, Roboto, Ubuntu,
    'Fira Sans', 'Droid Sans', Helvetica, Arial, sans-serif;
  font-size: 3rem;
  background-color: color(var(--devine-black) a(20%));
}

.link-wrapper {background: none !important;} /* stylelint-disable-line */

a,
a:link,
a:active,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
  background-image: linear-gradient(0deg, transparent 10px, var(--devine-pink-links) 0);
  background-position: left 1.5rem top 1rem;
  padding-right: .5rem;
}

nav {
  background-color: #efefef;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  box-shadow: color(var(--devine-black) a(20%)) 0 2px 5px 0;
  padding-top: .5rem;

  & button {
    height: 3rem;
    align-self: center;
    background-color: var(--devine-pink-lighter);
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    border: 0;
    border-radius: .3rem;
    margin-right: 2rem;
    position: relative;

    &::after {
      content: '😘';
      margin-left: .5rem;
      vertical-align: middle;
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: .5rem;
      bottom: 0;
      left: 0;
      background-color: color(var(--devine-pink-lighter) shade(10%));
      visibility: hidden;
      transform: scaleX(0);
      transition: all .3s ease-in-out 0s;
    }

    &:hover::before {
      visibility: visible;
      transform: scaleX(1);
    }
  }
}

.nav-inputs {
  margin-left: 1rem;
}

.year-list, .course-list, .student-list {
  margin-left: 1rem;
  color: var(--devine-black);
  font-size: 1.3rem;
  border: none;
  background-color: color(var(--devine-blue) a(30%));
}

.no-input {
  margin-top: 20%;
  text-align: center;

  &::before, &::after {
    content: '😢';
    margin: 2rem;
    vertical-align: middle;
  }
}

iframe {
  width: 100vw;
  height: 90vh;
}

footer {
  background-color: var(--devine-blue);
  height: 5rem;
  width: 100vw;
  color: var(--devine-black);
  font-size: 1.5rem;
  padding-left: 2rem;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  position: absolute;
  bottom: 0;
}
